<div class="container">
  <h2>Customer Management</h2>

  <!-- Form for Add/Update Customer -->
  <div class="customer-form">
    <form (ngSubmit)="submitCustomer()" #customerForm="ngForm" novalidate>
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control" id="firstName" [(ngModel)]="customer.firstName" name="firstName" required #firstName="ngModel">
        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
          First Name is required.
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" id="lastName" [(ngModel)]="customer.lastName" name="lastName" required #lastName="ngModel">
        <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
          Last Name is required.
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Date of Birth:</label>
        <input type="date" class="form-control" id="dateOfBirth" [(ngModel)]="customer.dateOfBirth" name="dateOfBirth" required #dateOfBirth="ngModel">
        <div *ngIf="dateOfBirth.invalid && (dateOfBirth.dirty || dateOfBirth.touched)" class="alert alert-danger">
          Date of Birth is required.
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!customerForm.form.valid">{{ isUpdateMode ? 'Update' : 'Add' }} Customer</button>
    </form>
  </div>

  <hr />

<!-- Customer List -->
<div class="customer-list">
  <h3>Customer List</h3>
  <table class="table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date of Birth</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{ customer.firstName }}</td>
        <td>{{ customer.lastName }}</td>
        <td>{{ customer.dateOfBirth | date }}</td>
        <td class="action-buttons">
          <button class="btn btn-edit" (click)="editCustomer(customer)">Edit</button>
          <button class="btn btn-danger" *ngIf="customer.id" (click)="deleteCustomer(customer.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>




